doctype html
html
  head
    title AeroClimate
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.7.1.min.js')
  body
    .navbar
      .logo-text AEROCLIMATE
    block content
    footer
      p &copy; 2024 AeroClimate
    script(src='/javascripts/airport.js')
